.outer_container{
    display: flex;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
}

.main_container {
    width: 70%;
    height: 80vh;
    border-radius: 8px;
    background: white;
    border: 1px solid #c2c2c2;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.16);
}

.inner_container{
    padding: 20px;
    margin: 20px;
}

.reg_form{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.logos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 48px;
}

input {
    width: 96%;
    display: block;
    background: transparent;
    font-size: 16px;
    border: none;
}

mat-form-field{
    width:100%;
}

li {
    list-style: none;
    border: 1px solid black;
    height: auto;
    width: 100%;
    margin: 1px;
    z-index: 2;
    padding: 5px;
}

img{
    height: 48px;
}

button{
    width: 59%;
    display: block;
    margin: 20px auto;
    height: 36px;
    border-radius: 8px;
    background: linear-gradient(to top, #ff0066, #eb5959);
    color: #fff;
    border: none;
}
