<div class="outer_container">
    <div class="main_container">
        <div class="inner_container">
         <div class="logos">
             <div><img src="assets/logo_2.png" ></div>
             <div><img src="assets/logo.png"></div>
         </div>
         
         <div class="reg_form">
             <form name="vendor_reg" #vendor_reg="ngForm" (ngSubmit)="addVendor(vendor_reg)">
                 <mat-form-field class="form_control">
                  <mat-label>Name</mat-label>
                    <input matInput type="text" placeholder="Pablo Picasso" name="name"[ngModelOptions]="{updateOn:'change'}" [(ngModel)]="vendor.name" required>
                 </mat-form-field>
                 <mat-form-field class="form_control">
                  <mat-label>Email</mat-label>
                    <input matInput type="email" #email="ngModel" placeholder="woof@wigglypuff.com" name="email"  [ngModelOptions]="{updateOn:'change'}" (input)="emailValidator($event)" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="vendor.email" required>
                    <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                     Please Enter a valid email <strong>EX. woof@wigglypuff.com</strong>
                   </mat-error>
                 </mat-form-field>
                 <mat-form-field class="form_control">
                  <mat-label>Phone Number</mat-label>
                    <input matInput type="tel" placeholder="90XXXXXXXX" name="phone" #phone="ngModel" maxlength="10" [ngModelOptions]="{updateOn:'change'}" pattern="^[6-9]{1}[0-9]{9}$"  inputmode="numeric" (keypress)="phoneValidator($event)" [(ngModel)]="vendor.phone" required>
                    <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                     Please Enter a valid phone number <strong>EX. 9017045437</strong>
                   </mat-error>
                 </mat-form-field>
                 <mat-form-field>
                   <mat-label>Select Primary Vendor Type</mat-label>
                   <mat-select name="primary_type" [(ngModel)]="vendor.primary_type" required>
                    <mat-option (click)="deleteVendor($event)" value="{{item.id}}" *ngFor="let item of vendors ">{{item.name}}</mat-option>
                 </mat-select>
                 </mat-form-field>
                 <mat-form-field>
                   <mat-label>Select Secondary Vendor Type</mat-label>
                   <mat-select multiple name="secondary_type" [(ngModel)]="vendor.secondary_type">
                    <mat-option value="{{item.id}}" *ngFor="let item of secondary_vendors ">{{item.name}}</mat-option>
                 </mat-select>
                 </mat-form-field>
             
                 <mat-form-field class="form_control">
                    <mat-label>Establishment Name</mat-label>
                     <input matInput type="text" autocomplete="off" [ngModelOptions]="{updateOn:'change'}" placeholder="Dr. Pablo's Clinic" name="vendor_name" [(ngModel)]="vendor.vendor_name" required>
                 </mat-form-field>
                 <mat-form-field class="form_control">
                    <mat-label>Address</mat-label>
                    <input matInput type="text" #address="ngModel"   matInput type="text" list="place" [ngModelOptions]="{updateOn:'change'}" placeholder="Vi John Towers, Udyog Vihar, Gurugram" name="address" [(ngModel)]="vendor.address" [matAutocomplete]="auto" debounce required>
                </mat-form-field>
                      
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of placeList" [value]="option.description" (click)="fillData(option)">{{option.description}}</mat-option>
                      </mat-autocomplete>
              
                 <mat-form-field class="form_control">
                    <mat-label>Telephone</mat-label>
                    <input matInput class="phone" type="tel" [ngModelOptions]="{updateOn:'change'}" placeholder="0162XXXXXXXXX" name="telephone" [(ngModel)]="vendor.telephone">
                 </mat-form-field>
             
                 <button type="submit" [disabled]="vendor_reg.invalid">Submit</button>
             </form>
             
         </div>
        </div>
     </div>
</div>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Grr......</p>
</ngx-spinner>
