<div class="outer_container">
    <div class="main_container">
        <div class="inner_container">
         <div class="logos">
             <div><img src="assets/logo_2.png" ></div>
             <div><img src="assets/logo.png"></div>
         </div>
         
         <div class="reg_form">
             <form name="vendor_reg" #vendor_reg="ngForm" (ngSubmit)="addVendor(vendor_reg)">
                 <mat-form-field class="form_control">
                    <input matInput type="text" placeholder="Name" name="name" [(ngModel)]="vendor.name" required>
                 </mat-form-field>
                 <mat-form-field class="form_control">
                    <input matInput type="email" placeholder="Email Id" name="email" [(ngModel)]="vendor.email" required>
                 </mat-form-field>
                 <mat-form-field class="form_control">
                    <input matInput type="tel" placeholder="Phone Number" name="phone" [(ngModel)]="vendor.phone" required>
                 </mat-form-field>
                 <mat-form-field>
                   <mat-label>Select Primary Vendor Type</mat-label>
                   <mat-select name="primary_type" [(ngModel)]="vendor.primary_type" required>
                    <mat-option (click)="deleteVendor($event)" value="{{item.id}}" *ngFor="let item of vendors ">{{item.name}}</mat-option>
                 </mat-select>
                 </mat-form-field>
                 <mat-form-field>
                   <mat-label>Select Secondary Vendor Type</mat-label>
                   <mat-select multiple name="secondary_type" [(ngModel)]="vendor.secondary_type">
                    <mat-option value="{{item.id}}" *ngFor="let item of secondary_vendors ">{{item.name}}</mat-option>
                 </mat-select>
                 </mat-form-field>
             
                 <mat-form-field class="form_control">
                     <input matInput type="text" autocomplete="off" placeholder="Vendor Name" name="vendor_name" [(ngModel)]="vendor.vendor_name" required>
                 </mat-form-field>
                 <mat-form-field class="form_control">
                    <input matInput type="text" #address="ngModel"   matInput type="text" list="place" placeholder="Address" name="address" [(ngModel)]="vendor.address" [matAutocomplete]="auto" debounce required>
                </mat-form-field>
                      
                      <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of placeList" [value]="option.description" (click)="fillData(option)">{{option.description}}</mat-option>
                      </mat-autocomplete>
              
                 <mat-form-field class="form_control">
                    <input matInput class="phone" type="tel" placeholder="Telephone" name="telephone" [(ngModel)]="vendor.telephone">
                 </mat-form-field>
             
                 <button type="submit">Submit</button>
             </form>
             
         </div>
        </div>
     </div>
</div>